.App {
  margin: 0 0;
  padding: 0 10%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 20px;
}
.header h1 {
  font-weight: 500;
  color: #343c46;
}
